<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header - DuckTravel</title>
    <link rel="stylesheet" href="/assets/scss/partials/header.scss">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/allpage.css">
</head>
<body>
        <div class="topbar">
            <div class="left">
                <ul class="list-left">
                    <li id="flag">
                        <div class="img-flag">
                            <img src="/assets/img/flag-vn.jpg" alt="ảnh cờ" height="20" width="30">
                        </div>
                    </li>
                    <li id="hotline">
                        <span>Hotline: <a href="callto:0862268163">0862 268 163</a></span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <ul class="list-right">
                    <li id="sign-in">
                        <span>Đăng nhập</span>
                    </li>
                    <li id="sign-up">
                        <span>Đăng ký</span>
                    </li>
                    <li id="help">
                        <span>Hướng dẫn</span>
                    </li>
                    <li id="search">

                    </li>
                    <li id="cart">

                    </li>
                </ul>
            </div>
        </div>
        <nav>
            <div class="container">
                <div class="left">
                    <ul class="list-left">
                        <li id="home-page">
                            <a href="#">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li id="introduce-page">
                            <a href="#">
                                <span>Giới thiệu</span>
                            </a>
                        </li>
                        <li id="tours-page">
                            <a href="#">
                                <span>Tour du lịch</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="logo">
                    <span>Duck Travel</span>
                </div>
                <div class="right">
                    <ul class="list-right">
                        <li id="news-page">
                            <a href="#">
                                <span>Tin tức</span>
                            </a>
                        </li>
                        <li id="contact-page">
                            <a href="#">
                                <span>Liên hệ</span>
                            </a>
                        </li>
                        <li id="service-page">
                            <a href="#">
                                <span>Dịch vụ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</body>
</html>