<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/duck.png" type="image/png">
    <title>Trang chủ - DuckTravel</title>
</head>
<body>
    <div class="header"></div>
    <h1>Trang chủ</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam labore perspiciatis numquam reprehenderit, unde expedita sapiente id, sint amet tempore voluptatem iure. Quos perferendis corporis expedita? Eligendi, eaque illum!</p>
    <div class="footer"></div>
    <script src="/assets/js/jquery.js"></script>
    <script src="/controllers/partialController.js"></script>
    
</body>
</html>